<h1 align="center" style="color: black;font-family: 'Times New Roman', Times, serif;">Page under constuction...come back later</h1><br>
<div class="form-group">Want to go to our home? Click...
    <button class="btn btn-light" (click)="onHome()">Home</button>
</div>
<div style="color: black;font-style: italic;font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <h4>For any queries please contact...</h4><br>
    <p>Number:9875642310 <b><sub> Not a valid number</sub></b></p><br>
    <h4>or mail to <link>@gmail.com</h4>
</div>

