<nav class="navbar navbar-expand bg-light">
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
          
        <a class="nav-item nav-link" (click)="navBack()" style="padding-top: 10px;background-color: lightgray;border-radius: 1em;">back</a>
      </ul>
    </div>
    </nav>
    <div>
<h1 style="color: black; padding-top: 50px;">All Users Transactions</h1>
<nav class="navbar">
    <input class="form-control" type="text" name="sender" [(ngModel)]="sender" (ngModelChange)="Search()"
    placeholder="Enter sender account number to search"> &nbsp;
    <a style="cursor: pointer;background-color: lime;border-radius: 0.5em;" (click)="exportexcel()" >
        All transactions download
      </a>
</nav>

<h4 style="color: rgb(243, 74, 74);">Check for filter by clicking on either id,amount or transactionDate header</h4>
<table class="table table-bordered" id="fileName">
    <thead>
        <tr>
            <th (click)="sort('id')">id&nbsp;<i class="fa fa-sort" style="color: black;"></i></th>
            <th>Sender</th>
            <th>Receiver</th>
            <th (click)="sort('amount')">Amount&nbsp;<i class="fa fa-sort" style="color: black;"></i></th>
            <th (click)="sort('transactionDate')">Transaction Date&nbsp;<i class="fa fa-sort" style="color: black;"></i></th>
            <th>Transaction Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions | orderBy: key: reverse">
            <td>{{transaction.id}}</td>
            <td>{{transaction.sender}}</td>
            <td>{{transaction.receiver}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.transactionDate}}</td>
            <td>{{transaction.type}}</td>
        </tr>
    </tbody>

