<div class="container-fluid"  style="color: black;">
    
       
  <nav class="navbar navbar-expand bg-light">
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
          
        <a class="nav-item nav-link" (click)="navBack()" style="padding-top: 10px;background-color: lightgray;border-radius: 1em;">back</a>
      </ul>
    </div>
    </nav>
        
        <div class="row offset-md-3 card" style="width: 25rem;">
    <label >User id :    {{user.id}}</label>
        <label>  UserName:  {{user.userName}}</label>  
                <label>BankAccountNumber:  {{user.bankAccountNumber}}</label>  
                    <label>Balance:  {{user.balance}}</label>  
                        <label> Phone:   {{user.phone}}</label> 
                            <label>Email:  {{user.email}}</label>  
                              </div>
                                    
</div>
